<form>
    <div class="addUser-container">

        <h3>{{username}}</h3>
        <mat-form-field>
            <input matInput name="name" placeholder="Nombre" [(ngModel)]='name'>
        </mat-form-field>

        <mat-form-field>
            <input matInput name="surname" placeholder="Apellido" [(ngModel)]='surname'>
        </mat-form-field>

        <mat-form-field>
            <input matInput name="mail" placeholder="Mail" [(ngModel)]='mail'>
        </mat-form-field>

        <mat-form-field>
            <input matInput name="password" placeholder="Contraseña" [(ngModel)]='password'>
        </mat-form-field>

        <mat-form-field>
            <input matInput name="repeatPassword" placeholder="Repetir Contraseña">
        </mat-form-field>

        <mat-form-field>
            <mat-select name="role" placeholder="Rol">
                <mat-option value="seguidor">Seguidor</mat-option>
                <mat-option value="administrador">Administrador</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-dialog-actions align="end">
        <button mat-button color="warn" mat-dialog-close>Cancelar</button>
        <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial (click)="submit()">Agregar</button>
    </mat-dialog-actions>
</form>