<form>
  <div class="addTeam-container">

    <mat-form-field>
      <input matInput name="teamName" [(ngModel)]='name' disabled>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="sportName" [(ngModel)]='sportName' disabled>
    </mat-form-field>

    <input type="file" (change)="onFileSelected($event)" accept=".png, .jpg, .jpeg">

    <img src="data:image/png;base64,{{logo}}" style="height:90px;width:90px" />

  </div>

  <mat-dialog-actions align="end">
    <button mat-button color="warn" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" cdkFocusInitial (click)="submit()">Agregar</button>
  </mat-dialog-actions>
</form>