table {
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
    size: 90%;
    align-content: center;
 }

 .mat-elevation-z8 {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 90%;
    size: 90%;
    align-content: center;
 }
  
mat-tab-group mat-select {
    width: 300px;
    margin-bottom: 20px;
    margin: 0px auto;
    margin-left: 6%;
    margin-right: 10px;
    margin-top: 20px;
    align-content: center;
}

mat-tab-group mat-form-field {
    width: 300px;
    margin-bottom: 20px;
    margin: 0px auto;
    margin-left: 1%;
    margin-top: 10px;
    align-content: center;
}

.filterButton {
    margin-left: 10px;
}

.datePicket {
    margin-right: 10px;
}
