<app-admin-nav></app-admin-nav>

<mat-tab-group>
  <mat-tab label="Todos los Encuentros">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="sport">
          <th mat-header-cell *matHeaderCellDef> Deporte </th>
          <td mat-cell *matCellDef="let aEncounter"> {{aEncounter.sportName}} </td>
        </ng-container>

        <ng-container matColumnDef="teams">
          <th mat-header-cell *matHeaderCellDef> Equipos </th>
          <td mat-cell *matCellDef="let aEncounter"> {{aEncounter.TeamsIds}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let aEncounter"> {{aEncounter.dateTime}} </td>
        </ng-container>

        <ng-container matColumnDef="actionDelete">
          <th mat-header-cell *matHeaderCellDef> Borrar </th>
          <td mat-cell *matCellDef="let aEncounter"> <button mat-button (click)="onDelete(aEncounter)">
              <mat-icon color="warn" class="icon">delete_outline</mat-icon>
            </button> </td>
        </ng-container>

        <ng-container matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="6">
            Cargando datos...
          </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="6">
            No hay datos.
          </mat-footer-cell>
        </ng-container>

        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-tab>

  <mat-tab label="Filtrar por Deporte">
    <mat-select name="sportName" placeholder="Deporte" required>
      <mat-option *ngFor="let aSport of sports" [value]="aSport.name">
        {{aSport.name}}
      </mat-option>
    </mat-select>
    <button mat-button color="primary">Buscar</button>
  </mat-tab>

  <mat-tab label="Filtrar por Equipo">
    <mat-select name="sportName" placeholder="Equipo" required>
      <mat-option *ngFor="let aTeam of teams" [value]="aTeam.name + '_' + aTeam.sportName">
        {{ aTeam.name }}  ({{ aTeam.sportName }}) 
      </mat-option>
    </mat-select>
    <button mat-button color="primary">Buscar</button>
  </mat-tab>

  <mat-tab label="Filtrar por Fecha">
    <mat-form-field>
      <input matInput [matDatepicker]="dateFor" placeholder="Fecha desde...">
      <mat-datepicker-toggle matSuffix [for]="dateFor"></mat-datepicker-toggle>
      <mat-datepicker #dateFor></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="dateTo" placeholder="Fecha hasta...">
      <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
      <mat-datepicker #dateTo></mat-datepicker>
    </mat-form-field>
    <button mat-button color="primary">Buscar</button>

  </mat-tab>
</mat-tab-group>