.comment-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
  }

  .comment-card{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 10px;
    width: 400px;
  }
  
.spinner{
   position: absolute;
   left: 50%;
   top: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}