<div *ngIf="isAdmin">
  <app-admin-nav></app-admin-nav>
</div>

<div *ngIf="!isAdmin">
  <app-follower-nav></app-follower-nav>
</div>

<div *ngFor="let comment of comments" class="comment-container">
  <mat-card class="comment-card">
    <mat-card-header>
      <mat-card-title>{{comment.userName}}</mat-card-title>
      <mat-card-subtitle>{{comment.timeStamp | date: 'medium' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{comment.message}}
      </p>
    </mat-card-content>
  </mat-card>
</div>

<form class="comment-container" [formGroup]="addCommentForm">
  <mat-form-field>
    <mat-select name="encounter" placeholder="Encuentro" formControlName="encounter" required [errorStateMatcher]="matcher">
      <mat-option *ngFor="let encounter of userFollowedTeamsEncounters" [value]="encounter.id">
        {{encounter | encounterLegibleName}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="encounter.errors?.required">
      El encuentro es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="comment-input">
    <textarea matInput placeholder="Escribir comentario..." name="message" formControlName="message" required
      [errorStateMatcher]="matcher">
    </textarea>
    <mat-error *ngIf="message.errors?.required">
      El comentario es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>

  <mat-error *ngIf="error">
    {{error}}
  </mat-error>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [disabled]="addCommentForm.invalid" (click)="onComment(encounter.id)">
      Agregar Comentario
    </button>
  </mat-dialog-actions>
</form>

<br>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Form status: {{addCommentForm.status}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Form Value</h6>
    <pre>{{addCommentForm.value | json}}</pre>
  </div>
</div>