<form [formGroup]="addSportForm">
  <div class="form-container">
    <mat-form-field>
      <input matInput name="name" placeholder="Nombre del deporte" formControlName="name" required
      [errorStateMatcher]="matcher">
      <mat-error *ngIf="name.errors?.required">
        El deporte es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select name="encounterPlayerCount" placeholder="Cantidad de equipos" formControlName="encounterPlayerCount"
        required [errorStateMatcher]="matcher">
        <mat-option value="TwoPlayers">Dos Jugadores</mat-option>
        <mat-option value="MoreThanTwoPlayers">Más de dos Jugadores</mat-option>
      </mat-select>
      <mat-error *ngIf="encounterPlayerCount.errors?.required">
        La cantidad de equipos <strong>requerida</strong>
      </mat-error>
    </mat-form-field>

    <mat-error *ngIf="error">
      {{error}}
    </mat-error>

    <mat-dialog-actions align="end">
      <button mat-button color="warn" mat-dialog-close>Cancelar</button>
      <button mat-button color="primary" cdkFocusInitial [disabled]="addSportForm.invalid" (click)="submit()">Agregar</button>
    </mat-dialog-actions>
  </div>
</form>