.login-form form{
   position: absolute;
   left: 50%;
   top: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   width:30em;
   height:18em;
}

.btn-block{
   margin-top: 20px;
}