<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <span><h1>SilverFixture</h1></span>
    <span class="nav-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="nav-spacer"></span>
    <button mat-button routerLink="/users" routerLinkActive="active">
      <mat-icon class="icon">group_add</mat-icon> Usuarios
    </button>
    <button mat-button routerLink="/sports" routerLinkActive="active">
      <mat-icon class="icon">add_circle</mat-icon> Deportes
    </button>
    <button mat-button routerLink="/teams" routerLinkActive="active">
      <mat-icon class="icon">input</mat-icon> Equipos
    </button>
    <button mat-button routerLink="/encounters" routerLinkActive="active">
      <mat-icon class="icon">today</mat-icon> Encuentros
    </button>
    <button mat-button routerLink="/calendar" routerLinkActive="active">
      <mat-icon class="icon">date_range</mat-icon> Canlendario
    </button>
    <button mat-button routerLink="/positions" routerLinkActive="active">
      <mat-icon class="icon">stars</mat-icon> Posiciones
    </button>
    <button mat-button routerLink="/followTeams" routerLinkActive="active">
      <mat-icon class="icon">sentiment_very_satisfied</mat-icon> Seguir equipos
    </button>
    <button mat-button routerLink="/comments" routerLinkActive="active">
      <mat-icon class="icon">forum</mat-icon> Comentarios
    </button>
    <button mat-button routerLink="/logs" routerLinkActive="active">
      <mat-icon class="icon">history</mat-icon> Log
    </button>
    <button mat-button (click)="signOut()" routerLinkActive="active">
      <mat-icon class="icon">account_circle</mat-icon> Salir, {{loggedUser}}
    </button>
  </mat-toolbar-row>
</mat-toolbar>