<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><img src="favicon.ico"></span>
    <span class="admin-nav-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="admin-nav-spacer"></span>
    <button mat-button routerLink="/users" routerLinkActive="active"><mat-icon class="icon">input</mat-icon> Usuarios</button>
    <button mat-button routerLink="/sports" routerLinkActive="active"><mat-icon class="icon">input</mat-icon> Deportes</button>
    <button mat-button routerLink="/teams" routerLinkActive="active"><mat-icon class="icon">input</mat-icon> Equipos</button>
    <button mat-button routerLink="/encounters" routerLinkActive="active"><mat-icon class="icon">input</mat-icon> Encuentros</button>
    <button mat-button routerLink="/logs" routerLinkActive="active"><mat-icon class="icon">input</mat-icon> Logs</button>
    <button mat-button (click)="signOut()" routerLink="/login" routerLinkActive="active"><mat-icon class="icon">account_circle</mat-icon> Cerrar Sesión</button>
  </mat-toolbar-row>
</mat-toolbar>