USE [master]
GO
/****** Object:  Database [EDDB]    Script Date: 22/11/2018 22:09:18 ******/
CREATE DATABASE [EDDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EDDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\EDDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EDDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\EDDB_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EDDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EDDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 22/11/2018 22:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 22/11/2018 22:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[UserName] [nvarchar](450) NULL,
	[TimeStamp] [datetime2](7) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[EncounterEntityId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Encounters]    Script Date: 22/11/2018 22:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Encounters](
	[Id] [uniqueidentifier] NOT NULL,
	[DateTime] [datetime2](7) NOT NULL,
	[SportName] [nvarchar](450) NULL,
 CONSTRAINT [PK_Encounters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EncounterTeam]    Script Date: 22/11/2018 22:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EncounterTeam](
	[EncounterId] [uniqueidentifier] NOT NULL,
	[TeamName] [nvarchar](450) NOT NULL,
	[SportName] [nvarchar](450) NOT NULL,
	[TeamNameFk] [nvarchar](450) NULL,
	[SportNameFk] [nvarchar](450) NULL,
 CONSTRAINT [PK_EncounterTeam] PRIMARY KEY CLUSTERED 
(
	[TeamName] ASC,
	[SportName] ASC,
	[EncounterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Logs]    Script Date: 22/11/2018 22:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Action] [nvarchar](max) NULL,
	[DateTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sports]    Script Date: 22/11/2018 22:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sports](
	[SportName] [nvarchar](450) NOT NULL,
	[EncounterPlayerCount] [int] NOT NULL,
 CONSTRAINT [PK_Sports] PRIMARY KEY CLUSTERED 
(
	[SportName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TeamResult]    Script Date: 22/11/2018 22:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamResult](
	[TeamName] [nvarchar](450) NULL,
	[TeamSportName] [nvarchar](450) NULL,
	[EncounterId] [uniqueidentifier] NOT NULL,
	[TeamId] [nvarchar](450) NOT NULL,
	[Position] [int] NOT NULL,
	[EncounterEntityId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TeamResult] PRIMARY KEY CLUSTERED 
(
	[TeamId] ASC,
	[EncounterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teams]    Script Date: 22/11/2018 22:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Teams](
	[Name] [nvarchar](450) NOT NULL,
	[SportName] [nvarchar](450) NOT NULL,
	[Logo] [varbinary](max) NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[Name] ASC,
	[SportName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TeamUsers]    Script Date: 22/11/2018 22:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamUsers](
	[TeamName] [nvarchar](450) NOT NULL,
	[SportName] [nvarchar](450) NOT NULL,
	[TeamName1] [nvarchar](450) NULL,
	[TeamSportName] [nvarchar](450) NULL,
	[UserName] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_TeamUsers] PRIMARY KEY CLUSTERED 
(
	[TeamName] ASC,
	[SportName] ASC,
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 22/11/2018 22:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserName] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Mail] [nvarchar](max) NULL,
	[Role] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Comments] ([UserName], [TimeStamp], [Message], [Id], [EncounterEntityId]) VALUES (N'juangonzalez', CAST(N'2018-11-22 22:03:00.7925865' AS DateTime2), N'Mis favoritos', N'5c31294c-ffed-4229-9914-3b8a355e7cec', N'0f95ffa5-41c4-4478-b5b4-9a901bda4cb5')
INSERT [dbo].[Comments] ([UserName], [TimeStamp], [Message], [Id], [EncounterEntityId]) VALUES (N'marioalboronz', CAST(N'2018-11-22 22:01:25.9615792' AS DateTime2), N'Oh si Juan, Será un genial encuentro', N'b6e215cd-5a91-4d49-a8fa-89995e49c05f', N'e1d905de-7970-4b0c-9fa4-1d2a231434bc')
INSERT [dbo].[Comments] ([UserName], [TimeStamp], [Message], [Id], [EncounterEntityId]) VALUES (N'juangonzalez', CAST(N'2018-11-22 21:58:53.7771637' AS DateTime2), N'¡Genial encuentro!', N'6f61fb69-ae5a-40ea-8855-d4105a6496cd', N'e1d905de-7970-4b0c-9fa4-1d2a231434bc')
INSERT [dbo].[Encounters] ([Id], [DateTime], [SportName]) VALUES (N'3f9a0d2a-fb8f-4fa4-97a9-02a3f3a689ac', CAST(N'2018-11-29 03:00:00.0000000' AS DateTime2), N'Football')
INSERT [dbo].[Encounters] ([Id], [DateTime], [SportName]) VALUES (N'3921a6be-14ef-422a-9fa6-1cf6bc6b0cb4', CAST(N'2018-11-30 03:00:00.0000000' AS DateTime2), N'Football')
INSERT [dbo].[Encounters] ([Id], [DateTime], [SportName]) VALUES (N'e1d905de-7970-4b0c-9fa4-1d2a231434bc', CAST(N'2018-11-30 03:00:00.0000000' AS DateTime2), N'Football')
INSERT [dbo].[EncounterTeam] ([EncounterId], [TeamName], [SportName], [TeamNameFk], [SportNameFk]) VALUES (N'e1d905de-7970-4b0c-9fa4-1d2a231434bc', N'Barcelona', N'Football', N'Barcelona', N'Football')
INSERT [dbo].[EncounterTeam] ([EncounterId], [TeamName], [SportName], [TeamNameFk], [SportNameFk]) VALUES (N'8f02487e-018a-4bb9-abb2-20901db39b3d', N'Barcelona', N'Football', N'Barcelona', N'Football')
INSERT [dbo].[EncounterTeam] ([EncounterId], [TeamName], [SportName], [TeamNameFk], [SportNameFk]) VALUES (N'5c99551e-bda5-4050-b6be-235c5ac57633', N'Barcelona', N'Football', N'Barcelona', N'Football')
INSERT [dbo].[Logs] ([Id], [UserName], [Action], [DateTime]) VALUES (N'51ffac7d-54d4-4b41-8fff-00e6a9cffbd3', N'marioalboronz', N'GetEncounterById', CAST(N'2018-11-22 22:01:26.3528102' AS DateTime2))
INSERT [dbo].[Logs] ([Id], [UserName], [Action], [DateTime]) VALUES (N'e1aed48e-0a29-4cd8-833b-017db2bf5c42', N'marioalboronz', N'GetAllSports', CAST(N'2018-11-22 22:03:18.1231977' AS DateTime2))
INSERT [dbo].[Logs] ([Id], [UserName], [Action], [DateTime]) VALUES (N'50d27abe-25fc-420d-85e9-0251f2c191f9', N'abm', N'CreateEncounter', CAST(N'2018-11-22 21:56:00.0692006' AS DateTime2))
GO
INSERT [dbo].[Sports] ([SportName], [EncounterPlayerCount]) VALUES (N'Atletismo', 1)
INSERT [dbo].[Sports] ([SportName], [EncounterPlayerCount]) VALUES (N'Basketball', 0)
INSERT [dbo].[Sports] ([SportName], [EncounterPlayerCount]) VALUES (N'Cricket', 0)
INSERT [dbo].[TeamResult] ([TeamName], [TeamSportName], [EncounterId], [TeamId], [Position], [EncounterEntityId]) VALUES (N'De primera', N'Football', N'3f9a0d2a-fb8f-4fa4-97a9-02a3f3a689ac', N'De primera_Football', 1, N'3f9a0d2a-fb8f-4fa4-97a9-02a3f3a689ac')
INSERT [dbo].[TeamResult] ([TeamName], [TeamSportName], [EncounterId], [TeamId], [Position], [EncounterEntityId]) VALUES (N'Valencia', N'Football', N'3f9a0d2a-fb8f-4fa4-97a9-02a3f3a689ac', N'Valencia_Football', 1, N'3f9a0d2a-fb8f-4fa4-97a9-02a3f3a689ac')
INSERT [dbo].[TeamUsers] ([TeamName], [SportName], [TeamName1], [TeamSportName], [UserName]) VALUES (N'Barcelona', N'Football', N'Barcelona', N'Football', N'juangonzalez')
INSERT [dbo].[TeamUsers] ([TeamName], [SportName], [TeamName1], [TeamSportName], [UserName]) VALUES (N'Lakers', N'Basketball', N'Lakers', N'Basketball', N'juangonzalez')
INSERT [dbo].[TeamUsers] ([TeamName], [SportName], [TeamName1], [TeamSportName], [UserName]) VALUES (N'Valencia', N'Football', N'Valencia', N'Football', N'marioalboronz')
INSERT [dbo].[Users] ([UserName], [Name], [Surname], [Password], [Mail], [Role]) VALUES (N'abm', N'abm', N'abm', N'abm', N'nicoeirin@gmail.com', 0)
INSERT [dbo].[Users] ([UserName], [Name], [Surname], [Password], [Mail], [Role]) VALUES (N'juangonzalez', N'Juan', N'Gonzalez', N'user', N'jgonzalez@gmail.com', 1)
INSERT [dbo].[Users] ([UserName], [Name], [Surname], [Password], [Mail], [Role]) VALUES (N'malvarez', N'Mario', N'Álvarez', N'user', N'malvarez@gmail.com', 1)
/****** Object:  Index [IX_Comments_EncounterEntityId]    Script Date: 22/11/2018 22:09:19 ******/
CREATE NONCLUSTERED INDEX [IX_Comments_EncounterEntityId] ON [dbo].[Comments]
(
	[EncounterEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Comments_UserName]    Script Date: 22/11/2018 22:09:19 ******/
CREATE NONCLUSTERED INDEX [IX_Comments_UserName] ON [dbo].[Comments]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Encounters_SportName]    Script Date: 22/11/2018 22:09:19 ******/
CREATE NONCLUSTERED INDEX [IX_Encounters_SportName] ON [dbo].[Encounters]
(
	[SportName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EncounterTeam_EncounterId]    Script Date: 22/11/2018 22:09:19 ******/
CREATE NONCLUSTERED INDEX [IX_EncounterTeam_EncounterId] ON [dbo].[EncounterTeam]
(
	[EncounterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_EncounterTeam_TeamNameFk_SportNameFk]    Script Date: 22/11/2018 22:09:19 ******/
CREATE NONCLUSTERED INDEX [IX_EncounterTeam_TeamNameFk_SportNameFk] ON [dbo].[EncounterTeam]
(
	[TeamNameFk] ASC,
	[SportNameFk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeamResult_EncounterEntityId]    Script Date: 22/11/2018 22:09:19 ******/
CREATE NONCLUSTERED INDEX [IX_TeamResult_EncounterEntityId] ON [dbo].[TeamResult]
(
	[EncounterEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_TeamResult_TeamName_TeamSportName]    Script Date: 22/11/2018 22:09:19 ******/
CREATE NONCLUSTERED INDEX [IX_TeamResult_TeamName_TeamSportName] ON [dbo].[TeamResult]
(
	[TeamName] ASC,
	[TeamSportName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Teams_SportName]    Script Date: 22/11/2018 22:09:19 ******/
CREATE NONCLUSTERED INDEX [IX_Teams_SportName] ON [dbo].[Teams]
(
	[SportName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_TeamUsers_TeamName1_TeamSportName]    Script Date: 22/11/2018 22:09:19 ******/
CREATE NONCLUSTERED INDEX [IX_TeamUsers_TeamName1_TeamSportName] ON [dbo].[TeamUsers]
(
	[TeamName1] ASC,
	[TeamSportName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_TeamUsers_UserName]    Script Date: 22/11/2018 22:09:19 ******/
CREATE NONCLUSTERED INDEX [IX_TeamUsers_UserName] ON [dbo].[TeamUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Encounters_EncounterEntityId] FOREIGN KEY([EncounterEntityId])
REFERENCES [dbo].[Encounters] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Encounters_EncounterEntityId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[Users] ([UserName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users_UserName]
GO
ALTER TABLE [dbo].[Encounters]  WITH CHECK ADD  CONSTRAINT [FK_Encounters_Sports_SportName] FOREIGN KEY([SportName])
REFERENCES [dbo].[Sports] ([SportName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Encounters] CHECK CONSTRAINT [FK_Encounters_Sports_SportName]
GO
ALTER TABLE [dbo].[EncounterTeam]  WITH CHECK ADD  CONSTRAINT [FK_EncounterTeam_Encounters_EncounterId] FOREIGN KEY([EncounterId])
REFERENCES [dbo].[Encounters] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EncounterTeam] CHECK CONSTRAINT [FK_EncounterTeam_Encounters_EncounterId]
GO
ALTER TABLE [dbo].[EncounterTeam]  WITH CHECK ADD  CONSTRAINT [FK_EncounterTeam_Teams_TeamNameFk_SportNameFk] FOREIGN KEY([TeamNameFk], [SportNameFk])
REFERENCES [dbo].[Teams] ([Name], [SportName])
GO
ALTER TABLE [dbo].[EncounterTeam] CHECK CONSTRAINT [FK_EncounterTeam_Teams_TeamNameFk_SportNameFk]
GO
ALTER TABLE [dbo].[TeamResult]  WITH CHECK ADD  CONSTRAINT [FK_TeamResult_Encounters_EncounterEntityId] FOREIGN KEY([EncounterEntityId])
REFERENCES [dbo].[Encounters] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TeamResult] CHECK CONSTRAINT [FK_TeamResult_Encounters_EncounterEntityId]
GO
ALTER TABLE [dbo].[TeamResult]  WITH CHECK ADD  CONSTRAINT [FK_TeamResult_Teams_TeamName_TeamSportName] FOREIGN KEY([TeamName], [TeamSportName])
REFERENCES [dbo].[Teams] ([Name], [SportName])
GO
ALTER TABLE [dbo].[TeamResult] CHECK CONSTRAINT [FK_TeamResult_Teams_TeamName_TeamSportName]
GO
ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_Teams_Sports_SportName] FOREIGN KEY([SportName])
REFERENCES [dbo].[Sports] ([SportName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_Teams_Sports_SportName]
GO
ALTER TABLE [dbo].[TeamUsers]  WITH CHECK ADD  CONSTRAINT [FK_TeamUsers_Teams_TeamName1_TeamSportName] FOREIGN KEY([TeamName1], [TeamSportName])
REFERENCES [dbo].[Teams] ([Name], [SportName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TeamUsers] CHECK CONSTRAINT [FK_TeamUsers_Teams_TeamName1_TeamSportName]
GO
ALTER TABLE [dbo].[TeamUsers]  WITH CHECK ADD  CONSTRAINT [FK_TeamUsers_Users_UserName] FOREIGN KEY([UserName])
REFERENCES [dbo].[Users] ([UserName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TeamUsers] CHECK CONSTRAINT [FK_TeamUsers_Users_UserName]
GO
USE [master]
GO
