<form [formGroup]="addEncounterForm">
  <div class="form-container">

    <mat-form-field>
      <input matInput [matDatepicker]="encounterDate" placeholder="Fecha del encuentro" formControlName="dateTime" required>
      <mat-datepicker-toggle matSuffix [for]="encounterDate"></mat-datepicker-toggle>
      <mat-datepicker #encounterDate></mat-datepicker>
      <mat-error *ngIf="encounterDate.errors?.required">
        La fecha es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select name="sport" placeholder="Deporte" formControlName="sportName" required (selectionChange)="getTeamsData($event)">
        <mat-option *ngFor="let sp of sports" [value]="sp.name">
          {{sp.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="sportName.errors?.required">
        El deporte es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Equipos" [formControl]="teamIds" multiple>
        <mat-select-trigger>
          {{teamIds.value ? teamIds.value[0] : ''}}
          <span *ngIf="teamIds.value?.length > 1" class="checkbox-selection">
            (+{{teamIds.value.length - 1}} {{teamIds.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let aTeam of teams" [value]="getTeamId(aTeam.name, aTeam.sportName)">{{aTeam.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-dialog-actions align="end">
    <button mat-button color="warn" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" cdkFocusInitial [disabled]="addEncounterForm.invalid" (click)="submit()">Agregar</button>
  </mat-dialog-actions>
</form>
<br>

<mat-error *ngIf="error">
  {{error}}
</mat-error>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Form status: {{addEncounterForm.status}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Form Value</h6>
    <pre>{{addEncounterForm.value | json}}</pre>
  </div>
</div>