<div class="addUser-container">
    <mat-form-field>
        <input matInput placeholder="Nombre de Usuario">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Nombre">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Apellido">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Mail">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Contraseña">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Repetir Contraseña">
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Rol">
            <mat-option value="option">Seguidor</mat-option>
            <mat-option value="option">Administrador</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<mat-dialog-actions align="end">
    <button mat-button color="warn" mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Agregar</button>
</mat-dialog-actions>